h1{
  color:red;
}
li {
  list-style-type: none;
}
li em {
    color: rebeccapurple;
}

h1 + p {
    font-size: 200%;
}
.special {
  color: rgb(0, 255, 17);
}

.special p:first-child{
  color: blue;
} 
